# Python / Bytecode
__pycache__/
*.py[cod]
*$py.class

# Node / React
node_modules/
dist/
.vite/

# Environments
.env
.venv/
venv/
ENV/
env/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# OS generated
.DS_Store
Thumbs.db
